Package: com.cameronkatri.quickactions
Name: QuickActions
Version: 1.0.0-1
Architecture: iphoneos-arm
Description: Quickly launch apps from the lockscreen
Maintainer: Cameron Katri <me+quickactions@cameronkatri.com>
Author: Cameron Katri <me+quickactions@cameronkatri.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
